{% comment %} 
{
  "id": 52,
  "piletId": 1,
  "meta": {},
  "version": "1.91.18",
  "root": "dist/index.js",
  "integrity": "sha256-rOFsh0u2tA7u3H+Pe+NRl6wvQH37papT8T2k3CSMOVY=",
  "link": "/b3000-fe-engine/1.91.18/index.js",
  "spec": "v2",
  "enabled": true,
  "pilet": {
    "id": 1,
    "name": "b3000-fe-engine",
    "meta": {},
    "enabled": true
  }
} 
{% endcomment %}

<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ piletV.piletId }}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 font-bold">{{ piletV.pilet.name }}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ piletV.version }}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
  <div class="flex items-center text-center mx-auto justify-center">
    {% if piletV.pilet.enabled %}
      <span class="rounded-full bg-green-600 w-6 h-6"></span>
    {% endif %}
  </div>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
  <div class="inline-flex gap-4">
      <form method="post" action="/admin/pilets/{{ piletV.piletId }}/trigger">
        {% if piletV.pilet.enabled %}
            {% render 'ui/button.liquid', type: 'danger', title : 'Disabled' %}
        {% else %}
            {% render 'ui/button.liquid',type: 'success', title : 'Enabled' %}
        {% endif %}
      </form>

      <a href="/admin/pilets/{{ piletV.piletId }}/versions">
          {% render 'ui/button.liquid',title : 'View Versions' %}
      </a>

  </div>
  </td>
</tr>